*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}


.mobile-container{
    background-color: #fff;
    width: 400px;
    box-shadow: 0 0 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header input {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
    background-color: #eee;
    font-family: inherit;
}

header button {
    background-color: transparent;
    color: #aaa;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

img{
        max-width: 100%;
}



.fav-container {
    padding: 0.25rem 1rem;   
    background-color: rgb(243, 225, 255); 
    text-align: center;
}

.favorite-meals {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    list-style-type: none;
    padding: 0;
}

.favorite-meals li {
    position: relative;
    width: 75px;
    margin: 5px;
    cursor: pointer;
}


.favorite-meals li img {
    border-radius: 50%;
    object-fit: cover;
    width: 75px;
    height: 75px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 2px #3333331A;
}


.favorite-meals li .clear  {
    margin-top: 3px;
    background-color: transparent;
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    border: none;
    font-size: 1.2rem;
    opacity: 0;
    cursor: pointer;
}

.favorite-meals li:hover .clear {
    opacity: 1;
}

.favorite-meals li span {
    font-size: 0.9rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    cursor: pointer;
    margin: 1.5rem;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(197, 188, 188);
    cursor: pointer;
    font-size: 1.2rem;
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.meal-info h1 {
    text-align: center;
}
